{% extends "base.html" %}
{% block title %}Homepage {% endblock %}
{% block body %}
    {{ super() }}
    {%if username is not none%}
        <div><a href="{{ url_for('create') }}">create a new chat Room</a></div>
        {% for room in chatRooms.keys() %}
            <div><a href="{{ url_for('chatRoom', name=room) }}">{{ room }}</a>
            {%if chatRooms[room].creater == username %}
                <a href="{{ url_for('delete', name=room) }}"> delete
            {% endif %}
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}